.contact-bar {
    position: absolute;
    background: rgb(86, 184, 138);
    height: 80px;
    bottom: -235%;
    right: 0;
    width: 80%;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contact-bar .mail-icon {
    font-size: 30px;
    margin: 0 40px;
}

.contact-bar p {
    margin-right: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
    .contact-bar {
        width: 100%;
    }
    
    .contact-bar .mail-icon {
        margin: 0 20px;
    }

    .contact-bar p {
        margin-right: 20px;
    }
}