.projects-section {
	padding: 100px;
    background-color: whitesmoke;
    background-image: url("../img/Background.svg");
	background-repeat: repeat;
}

.projects-section h1 {
    font-size: 100px;
	color: rgb(12, 27, 49);
    margin-bottom: 32px;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color:rgb(12, 27, 49);
}

.projects-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.project-card {
	width: 100%;
    height: auto;
    border-radius: 15px;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-card:hover {
    background-color: rgb(32, 199, 163);
    color: rgb(0, 0, 0);
}

.project-image {
    margin-top: 25px;
    text-align: center;
}

.project-img {
    width: 220px;
    height: 200px;
    border-radius: 10px 10px 10px 10px;
}

.project-text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 80%;
    padding: 20px 0 20px;
}

.project-text p {
    line-height: 2;
}

.project-link {
    color: white;
    font-size: 28px;
    margin-top: 20px;
    transition: all 0.2s ease-in;
}

.project-link:hover {
    color: black;
    transition: all 0.2s ease-out;
}

@media screen and (max-width: 1000px) {

    .projects-section {
        padding: 50px 30px 50px 30px;
    }

    .projects-section h1 {
        font-size: 70px;
    }

    .project-card {
        width: 100%;
    }
}
